@model List<Cart>

@{
    Layout = ViewData["Layout"]?.ToString() ?? "~/Views/Shared/_LayoutUser.cshtml";
    ViewData["Title"] = "Giỏ hàng";
}

<h2>Giỏ hàng của bạn</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product?.ProductName</td>
                <td>@item.Product?.Price.ToString("N0") VNĐ</td>
                <td>@item.Quantity</td>
                <td>@(item.Quantity* item.Product.Price).ToString("N0") VNĐ</td>
                <td>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.CartID">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
